body {
  margin: 0;
}

main {
  margin: 16px;
}

.Buttons{
  display: flex;

}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: rgba(191, 191, 191, 0.331);
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  color: rgba(4, 188, 246, 1);
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
  
}

.navbar__item {

  color:rgba(4, 188, 246, 1) ;
  
  background:none; 
  border:none; 
  
  font-size: large;
  left: 20%;
 
}

.navbar__item:hover{
  background-color: rgb(224, 221, 221);
  
  
}

.button2{
background-color: rgba(4, 188, 246, 1);
  border: none;
border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}